body{

   margin: 0;
    padding: 0;
    background: linear-gradient(45deg,#dba4dd,#4d125f);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

h3{
    font-style: oblique;
    
}
button{
    font-size: 15px;
    font-style: oblique;
    background-color:  rgb(222, 248, 240);

}
#demo{
    font-size: 18px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
